/* 
    Document   : style
    Created on : Jan 21, 2014, 8:59:08 PM
    Author     : sanofuzir
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.container {
    margin-top: 60px;
}