/* 
    Document   : style
    Created on : Jan 21, 2014, 8:59:08 PM
    Author     : sanofuzir
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body {
    background-color: #020202;
    color: #c6c8c9;
    font-size: 16px;
}

.container {
    margin-top: 60px;
    background-color: #020202;
    margin-bottom: 100px;
}

.title {
    margin-top: 50px;
    line-height: 1em;
    color: #c6c8c9;
    font-weight:bold;
    font-size: 35px;
    text-shadow:0px 0px 0 rgb(174,176,177),
                1px 1px 0 rgb(159,161,162),
                2px 2px 0 rgb(145,147,148),
                3px 3px 0 rgb(130,132,133),
                4px 4px 0 rgb(116,118,119),
                5px 5px 0 rgb(101,103,104), 
                6px 6px 0 rgb(87,89,90),
                7px 7px 6px rgba(0,0,0,0.6),
                7px 7px 1px rgba(0,0,0,0.5),
                0px 0px 6px rgba(0,0,0,.2);
}

.admin-panel {
    border: 2px ridge black;
    padding: 20px;
    margin-top: 50px;
    background-color: #E6E6E6;
}

.admin-panel-category {
    display: inline-block;
    width: 32%;
    margin: 30px 5px;
    padding: 40px 0px;
    border: 1px dotted darkgray;
    text-align: center;
}

.admin-panel-category a:link, .admin-panel-category a:visited {
    text-decoration: none;
    color: #08C;
    padding-top: 10px;
}
.admin-panel-category a:hover {
    color: #000000;
}
.span1 {
    margin-left: 0px;
}
.span2 {
    margin-top: 20x;
    margin-left: 15px;
}
.span3 {
    margin: 20px 0px 0px 15px;
}
.tour_form label {
    margin: 20px 20px 0px 0px;
}
.tour_form textarea {
    margin-top: 20px;
}

.news_form label {
    margin: 20px 20px 0px 0px;
}
.news_form textarea {
    margin-top: 20px;
}

.images_form label {
    margin: 20px 20px 0px 0px;
}

.video_form label {
    margin: 20px 20px 0px 0px;
}
.order_form label {
    width: 80px;
}
.order_form imput {
    width: 200px;
}
.flags {
    float: right;
}
.flags img {
    display: inline-block;
    height: 30px;
    width: 45px;
    border: 3px solid none;
}
.flags a:link, .flags a:visited {
    text-decoration: none;
}
.center {
    background-color: #221f1f;
}
.nav2 li a:visited, .nav2 li a:link {
    line-height: 1em;
    color: #c6c8c9;
    font-weight:bold;
    font-size: 18px;
    text-shadow:0px 0px 0 rgb(174,176,177),1px 1px 0 rgb(159,161,162),2px 2px 0 rgb(145,147,148);
}
.email a:visited, .email a:link {
    color: #c6c8c9;
}
.about {
    text-indent: 10px;
}
/*News styles*/
.news {
    border: 10px ridge #c6c8c9; 
    margin: 25px 0; 
    padding: 20px 10px; 
}
.news-item {
    background-color: #221f1f;
    margin-bottom: 20px;
    padding: 10px;
}
.rotate {
    width: 300px;
    position: absolute;
    margin-right: 300px;
}
.rotate img {
    width: 100%;
    -webkit-transition:width 5s, height 5s, -webkit-transform 5s; /* For Safari 3.1 to 6.0 */
    transition:width 5s, height 5s, transform 5s;
}
.rotate img:hover, .rotate img:link {
    -webkit-transform:rotate(360deg); /* Chrome, Safari, Opera */
    transform:rotate(360deg);
}