{% extends 'StaticBundle::layout.html.twig' %}

{% block title %}About{% endblock %}

{% block content %}
<h1 class="title">O nas</h1>
<div style="text-align:justify;">
    <p><b>Dobrodošli na naši spletni strani</b></p>
        <p>
            Smo podjetje, ki je specializirano za opravljanje prevozov v Sloveniji in v tujini. 
            Vedno urejeni vozniki in vozila vam bodo nudili kvaliteto storitev. 
            Prevozi, ki jih opravljamo so lahko na določene destinacije ali kamorkoli na vašo željo. 
            Zagotavljamo zelo hitro odzivnost glede na vaše potrebe. 
        </p>
        <p>
            Z našimi vozili bo vožnja vedno udobna in varna, saj vozila spadajo v višji cenovni razred, 
            prav tako pa tudi v najvišji razred varnosti.
            Galerijo vozil si lahko ogledate na naši spletni strani. 
            Na vašo željo vam lahko nudimo tudi enodnevni ali večdnevni najem vozila z urejenimi zozniki, 
            kateri vas lahko popeljejo po sestankih, vas tam počakajo 
            in vas na koncu dneva odpeljejo domov ali v hotel.
        </p>
        <p>
            Organiziramo lahko tudi prevoze na najlepše kraje po Sloveniji, 
            kjer si lahko ogledate vse kar vas zanima in si želite videti. 
            Naš voznik vas bo na kraju počakal in vas varno pripeljal domov. 
            Kraje in zanimive destinacije si lahko ogledate na naši spletni strani.
            Za vse informacije glede cen in prostih terminov nas lahko kontaktirate preko telefona ali 
            elektronske pošte. V najkrajšem možnem času vas bomo kontaktirali in posredovali povratne informacije.
        </p>
        <br />
        <p>
            Zahvaljujemo se vam za obisk naše spletne strani in vam zagotavljamo, 
            da če se boste odločili za naše storitve ne boste razočarani.
        </p>
        <br />
        <p>Želimo vam srečno pot in veliko poslovnih uspehov!</p>
        <br />
        <p>Royal team</p> 
    
</div>
{% endblock %}