{% extends 'StaticBundle::layout.html.twig' %}

{% block title %}Kontakt{% endblock %}

{% block content %}
<h1 class="title">Kontakt</h1>
<br />
<div class="border" style="width: 40%; padding: 30px;">
    <p><b>Telefon:</b>&nbsp;+386 70 66 57 18</p>
    <p class="email"><b>Email:</b>&nbsp;<a href="mailto:info@royaltransfer.com">info@royaltransfer.com</a></p>
</div>
{% endblock %}