{% extends 'StaticBundle::layout.html.twig' %}

{% block title %}Kontakt{% endblock %}

{% block content %}
<h1 class="title">Kontakt</h1>
<div>
    <p>
        naziv podjetja, <br />
        naslov, <br />
        telefon, <br />
        direktor, <br />
        davčna številka,<br /> 
        matična številka,<br /> 
        transakcijski račun, <br />
        pristojno sodišče <br />
        Registrirano na: <br />
        Lokacija:
    </p>

</div>
{% endblock %}