{% extends 'StaticBundle::layout.html.twig' %}

{% block title %}Naro훾ilo{% endblock %}

{% block content %}
<h1 class="title">Naro훾ilo transporta</h1>
<form class="order_form" action="{{ order.id ? path('_edit_order', {'id': order.id}) : path('_add_order') }}" method="post" {{ form_enctype(form) }} novalidate>
    {{ form_widget(form) }}
    <!--div class="form-actions"-->
        <br />
        <input type="submit" name="naro훾i" value="Naro훾i" class="btn btn-primary">
    <!--/div-->
</form>
{% endblock %}