{% extends 'StaticBundle::layout.html.twig' %}

{% block title %}{% trans %}Naro훾ilo{% endtrans %}{% endblock %}

{% block content %}
<h1 class="title">{% trans %}Naro훾ilo transporta{% endtrans %}</h1>
<form class="order_form" action="{{ order.id ? path('_edit_order', {'id': order.id}) : path('_add_order') }}" method="post" {{ form_enctype(form) }} novalidate>
    {{ form_widget(form) }}
    <!--div class="form-actions"-->
        <br />
        <input type="submit" name="naro훾i" value="{% trans %}Naro훾i{% endtrans %}" class="btn btn-primary">
    <!--/div-->
</form>
{% endblock %}