{% extends 'StaticBundle::layout.html.twig' %}

{% block title %}Index{% endblock %}

{% block content %}
<h1 class="title">Naslovnica</h1>
<div><p>Slike, kratek opis podjetja, novice</p></div>
{% endblock %}