{% extends 'StaticBundle::layout.html.twig' %}

{% block title %}Povpraševanje{% endblock %}

{% block content %}
<h1 class="title">Povpraševanje</h1>
<form class="order_form" action="{{ path('_add_inquiry') }}" method="post" {{ form_enctype(form) }} novalidate>
    {{ form_widget(form) }}
    <!--div class="form-actions"-->
        <br />
        <input type="submit" name="naroči" value="Pošlji" class="btn btn-primary">
    <!--/div-->
</form>
{% endblock %}