{% extends 'StaticBundle::layout.html.twig' %}

{% block title %}Novice{% endblock %}

{% block content %}
<h1 class="title">Novice</h1>
    <div class="news">
    {% for item in news %}
      <div class="news-item">
          <p><span style="font-size: 1.5em;"><strong>{{ item.name}}</strong></span></p>
          <p>{{ item.text|length > 50 ? item.text|slice(0, 450) ~ '...' : item.text }}</p>
          <p style="text-align: right; padding-top: 10px; padding-right: 10px;"><strong>{{ item.created|date('d.m.Y')}}</strong></p>
      </div>
    {% endfor %}
    </div>
{% endblock %}