{% extends 'StaticBundle::layout.html.twig' %}

{% block title %}Naročilo{% endblock %}

{% block content %}
<h1 class="title">Naročilo transporta</h1>
<div><p>Obrazec za naročilo</p></div>
{% endblock %}