{% extends 'StaticBundle::layout.html.twig' %}

{% block title %}Video galerija{% endblock %}

{% block content %}
<h1 class="title">Video galerija</h1>
    {% for item in videos %}
    <div style="border: 10px ridge #707F8E; margin: 5px 5px; padding: 0 5px; width: 46%; float: left; min-height: 150px;">
        <p style="text-align: center;">
            <iframe width="400" height="300" src="{{ item.link }}" style="margin-top: 10px;"></iframe><br />
            <span style="text-align: center"><strong>{{ item.title|length > 50 ? item.title|slice(0, 450) ~ '...' : item.title }}</strong></span><br />
            <span style="text-align: center">{{ item.created|date('d.m.Y') }}</span>
        </p>
    </div>
    {% endfor %}
{% endblock %}