{% extends 'StaticBundle::layout.html.twig' %}

{% block title %}Video galerija{% endblock %}

{% block content %}
<h1 class="title">Video galerija</h1>
<div><p>Video posnetki, kratek opis </p></div>
{% endblock %}