{% extends 'StaticBundle::layout.html.twig' %}

{% block title %}Video galerija{% endblock %}

{% block content %}
<h1 class="title">Video galerija</h1>
    <div class="border">
    {% for item in videos %}
    <div class="border-item galery" style="height: 350px;">
        <iframe src="{{ item.link }}" style="height: 280px;"></iframe><br />
        <span><strong>{{ item.title|length > 50 ? item.title|slice(0, 450) ~ '...' : item.title }}</strong></span><br />
        <span>{{ item.created|date('d.m.Y') }}</span>
    </div>
    {% endfor %}
    </div>
{% endblock %}