/* 
    Document   : style
    Created on : Jan 21, 2014, 8:59:08 PM
    Author     : sanofuzir
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body {
    background-color: #020202;
    color: #c6c8c9;
    font-size: 18px;
}
.main-menu-title {
    font-size: 1.3em;
}
.container {
    margin-top: 60px;
    background-color: #020202;
    margin-bottom: 100px;
}

.title {
    text-align: center;
    margin-top: 90px;
    padding-left: 50px;
    line-height: 1em;
    color: #c6c8c9;
    font-weight:bold;
    font-size: 25px;
    text-shadow:0px 0px 0 rgb(174,176,177),
                1px 1px 0 rgb(159,161,162),
                2px 2px 0 rgb(145,147,148),
                0px 0px 6px rgba(0,0,0,.2);
}

.admin-panel {
    border: 2px ridge black;
    padding: 20px;
    margin-top: 50px;
    background-color: #221f1f;
}

.admin-panel-category {
    display: inline-block;
    width: 32%;
    margin: 30px 5px;
    padding: 40px 0px;
    border: 1px dotted darkgray;
    text-align: center;
}
.control-panel a:hover {
    text-decoration: none;
}
.admin-panel-category a:link, .admin-panel-category a:visited {
    text-decoration: none;
    color: #08C;
    padding-top: 10px;
}
.admin-panel-category a:hover {
    color: #000000;
}
.mytable th {
    font-size: 120%;
}
.span1 {
    margin-left: 0px;
}
.span2 {
    margin-top: 20x;
    margin-left: 15px;
}
.span3 {
    margin: 20px 0px 0px 15px;
}
.tour_form label {
    margin: 20px 20px 0px 0px;
}
.tour_form textarea {
    margin-top: 20px;
}

.news_form label {
    margin: 20px 20px 0px 0px;
}
.news_form textarea {
    margin-top: 20px;
}

.images_form label {
    margin: 20px 20px 0px 0px;
}

.video_form label {
    margin: 20px 20px 0px 0px;
}
.order_form label {
    width: 80px;
}
.order_form imput {
    width: 200px;
}
.flags {
    float: right;
    margin-right: 88px;
}
.flags img {
    display: inline-block;
    height: 12px;
    width: 22px;
    border: 3px solid none;
}
.flags a:link, .flags a:visited {
    text-decoration: none;
}
.center {
    background-color: #221f1f;
}
.nav2 li a:visited, .nav2 li a:link {
    line-height: 1em;
    color: #c6c8c9;
    font-weight:bold;
    background-color: transparent;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-shadow:0px 0px 0 rgb(174,176,177),1px 1px 0 rgb(159,161,162),2px 2px 0 rgb(145,147,148);
}
.email a:visited, .email a:link {
    color: #c6c8c9;
}
.about {
    text-indent: 10px;
}
/*News styles*/
.table-image img {
    margin-top: 50px;
}
.border {
    margin: 20px 0;
}
.border img {
    width: 100%;
    height: 25px;
}
.rotate {
    position: relative;
    margin-left: 450px;
    width: 20%;
}
.galery {
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    height: 250px;
}
.galery img, video iframe {
    height: 80%;
    padding-bottom: 20px;
}
.video {
    display: inline-block;
    text-align: center;
    margin-left: 10px;
}
.image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotatey(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotatey(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotatey(360deg); transform:rotatey(360deg); } }

.image-meni {
    visibility: hidden;
    width: 30px;
    height: 30px;
    margin-top: -35px;
    margin-left: -15px;
    position: absolute;
}
.mydropdown li a:hover + div8{
    background-color: black;
}