{% extends 'StaticBundle::layout.html.twig' %}

{% block title %}Admin{% endblock %}

{% block content %}
<h2 class="title">Admin Control panel</h2>

<section>
    <div class="admin-panel">
        <div class="admin-panel-category">
            <a href="#">Seznam novic in urejanje</a>
            <br /><br />
            <a href="{{ path('_admin_tours') }}">Seznam izletov in urejanje</a>
        </div>
        <div class="admin-panel-category">
            <a href="#">Urejanje galerije slik</a>
            <br /><br />
            <a href="#">Urejanje video galerije</a>
        </div>
        <div class="admin-panel-category">
            <a href="#">Pregled naročil in urejanje</a>
            <br /><br />
            <a href="#">Seznam povezav in urejanje</a>
        </div>
    </div>
</section>
{% endblock %}